In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('Food Prices.csv')

In [4]:
df.head()

,Country,Year,Month,Food Item,Unit of Measurement,Average Price,Currency,Price in USD,Availability,Quality
0,Australia,2018,1,Bread,Loaf,2.20,AUD,1.47,1,High
1,Australia,2018,2,Bread,Loaf,2.20,AUD,1.48,1,High
2,Australia,2018,3,Bread,Loaf,2.20,AUD,1.48,1,High
3,Australia,2018,4,Bread,Loaf,2.21,AUD,1.48,1,High
4,Australia,2018,5,Bread,Loaf,2.21,AUD,1.48,1,High

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              1200 non-null   object
 1   Year                 1200 non-null   int64
 2   Month                1200 non-null   int64
 3   Food Item            1200 non-null   object
 4   Unit of Measurement  1200 non-null   object
 5   Average Price        1200 non-null   float64
 6   Currency             1200 non-null   object
 7   Price in USD         1200 non-null   float64
 8   Availability         1200 non-null   int64
 9   Quality              1200 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 93.9+ KB

In [7]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Year,1200.0,2020.000000,1.414803,2018.00,2019.0000,2020.000,2021.0000,2022.00
Month,1200.0,6.500000,3.453492,1.00,3.7500,6.500,9.2500,12.00
Average Price,1200.0,59.129550,103.155832,1.22,3.2075,13.355,28.8825,421.43
Price in USD,1200.0,1.801842,0.725390,0.69,1.1700,1.680,2.3200,4.03
Availability,1200.0,1.000000,0.000000,1.00,1.0000,1.000,1.0000,1.00

In [19]:
df.duplicated().sum()

0

In [22]:
df.columns = df.columns.str.strip()

In [24]:
# Create a 'Date' column
df['Date'] = pd.to_datetime(df[['Year', 'Month']].assign(DAY=1))

In [26]:
df['Year'] = df['Date'].dt.year

annual_price_increase = df.groupby(['Country', 'Food Item', 'Year'])['Average Price'].mean().pct_change()

In [32]:
# Calculate the average inflation rate
avg_inflation = annual_price_increase.groupby(['Country', 'Food Item']).mean()
avg_inflation

Country       Food Item
Australia     Bread         0.061278
              Eggs          0.148078
              Milk         -0.086629
              Potatoes      0.210619
Canada        Bread        -0.032381
              Eggs          0.057002
              Milk         -0.062406
              Potatoes      0.030627
Japan         Bread        11.798579
              Eggs          0.048155
              Milk         -0.047238
              Potatoes      0.197910
South Africa  Bread        -0.156713
              Eggs          0.171958
              Milk         -0.074896
              Potatoes      0.025479
Sweden        Bread         0.053998
              Eggs          0.068615
              Milk         -0.084327
              Potatoes      0.004359
Name: Average Price, dtype: float64

In [31]:
# Economic Indicators:
avg_price = df.groupby(['Country', 'Year'])['Average Price'].mean().unstack()
avg_price

Year                2018        2019        2020        2021        2022
Country
Australia       2.480208    2.593542    2.735417    3.032500    3.503125
Canada          3.012708    3.082708    3.132500    3.195417    3.318125
Japan         239.826250  244.942917  251.661667  256.968750  267.052083
South Africa   17.326667   17.901042   18.731250   19.450208   20.398750
Sweden         16.686042   17.602500   18.601458   19.560417   21.442500

In [34]:
#what is the average price for

In [35]:
#graph the avg_inflation, very good data